<app-top-bar></app-top-bar>

<div class="container">
  <div class="vertical-menu">
    <a class="active">Main Menu</a>
    <a href="#">Smart Phones</a>
    <a href="#">Laptops</a>
    <a href="#">Earphones</a>
    <a href="#">Grocery</a>
    <a href="#">Clothing</a>
    <a href="#">Jewellery</a>
    <a href="#">Cosmetics</a>
    <a href="#">Home Decor</a>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->