<h2>Products</h2>
<link rel='stylesheet' type='text/css' href='product-list.component.css'/>
<div class='row'>
    <div *ngFor="let product of products" class='container column'>

      <h3>
        <a [title]="product.name + ' details'"
          [routerLink]="['/products' , product.id]">
          {{ product.name }}
        </a>
      </h3>
      
      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>
      <img src="../../assets/images/icons8-mobile-phone-48.png" class='img1' class='column' alt='Mobile Phone'>
      <button type="button" (click)="share()">
        Share
      </button>
      <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
      </app-product-alerts>
    </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->